:root {
  --hero-title-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --btn-text-color: #ffffff;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #2f303a;
  --bg-team-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.soc-icon {
  width: 20px;
  height: 20px;
}

/*---------- header ----------*/

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--bg-primary-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header__logo {
  color: #000;
}
.navigation {
  margin-left: 93px;
}
.navigation__list {
  display: flex;
}
.navigation__list .navigation__item + .navigation__item {
  margin-left: 50px;
}
.navigation__item {
  position: relative;
}
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header__list {
  display: flex;
  margin-left: auto;
}
.header__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header__icon {
  margin-right: 10px;
}
.header__item:not(:last-child) {
  margin-right: 30px;
}

/*---------- index ----------*/

/*---------- hero ----------*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--bg-secondary-color);

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---------- features ----------*/

.features__list {
  display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bg-team-color);
  border-radius: 4px;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*---------- about ----------*/

.about {
  padding-top: 0;
}
.about__list {
  display: flex;
}
.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__box {
  position: relative;
}
.about__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.about__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*---------- team ----------*/

.team {
  background-color: var(--bg-team-color);
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.card-member {
  background-color: var(--bg-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-member__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.card-member__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.card-member__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}
.card-member__list {
  display: flex;
  justify-content: center;
}
.card-member__item + .card-member__item {
  margin-left: 10px;
}
.card-member__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--bg-primary-color);
  border-radius: 50%;

  fill: var(--primary-icon-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.card-member__link:hover,
.card-member__link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/*---------- clients ----------*/

.clients__list {
  display: flex;
  justify-content: center;
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  fill: var(--primary-icon-color);

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
}

/*---------- portfolio ----------*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--bg-team-color);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.filter__btn:hover,
.filter__btn:focus {
  cursor: pointer;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  background-color: var(--bg-primary-color);
}
.portfolio__link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 1px));
  transition: transform 250ms ease;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio__label {
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio__text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*---------- backdrop ----------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--time-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--time-function);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.close-button:hover {
  cursor: pointer;
  fill: var(--accent-color);
}

/*---------- form ----------*/

.form {
  padding: 40px;
}
.form__action {
  display: block;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.form__field {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}
.form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form__field--comment {
  margin-bottom: 20px;
}
.form__input {
  padding: 12px 16px 12px 42px;

  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.form__icon {
  position: absolute;
  bottom: 13px;
  left: 12px;

  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__textarea {
  padding: 12px 16px;

  resize: none;
  width: 100%;
  height: 120px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__checkbox {
  align-items: center;
  margin-bottom: 30px;
}
.checkbox__lable {
  position: relative;

  padding-left: 24px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;
}
.checkbox__icon--check {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.checkbox__icon--checkin {
  opacity: 0;
  transform: translateY(-50%) scale(1.2);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.checkbox__input:checked ~ .checkbox__icon--checkin {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.checkbox__input:checked ~ .checkbox__icon--check {
  fill: var(--accent-color);
}

.agreement-conditions {
  color: var(--accent-color);
}
.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*---------- footer ----------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-secondary-color);
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  color: #fff;
}
.adress {
  margin-top: 20px;
  font-style: normal;
}
.address__item + .address__item {
  margin-top: 9px;
}
.address__link,
.address__mail,
.address__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}
.address__link {
  color: #fff;
}
.footer__text {
  display: block;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join {
  margin-left: 70px;
}
.join__list {
  display: flex;
  justify-content: center;
}
.join__item + .join__item {
  margin-left: 10px;
}
.join__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  fill: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);
}
.join__link:hover,
.join__link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  margin-left: auto;
}
.subscribe__input {
  min-width: 358px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  outline: none;
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.sub-button {
  margin-left: 12px;
}
.sub-button__icon {
  margin-left: 10px;
}
