.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
  }
  &--no-padding-top {
    padding-top: 0;
  }
  &--other-bg {
    background-color: getColor('bg-team');
  }
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
